@font-face {
    font-family: 'define_your_font_here';
    src: url(data:application/x-font-woff;charset=utf-8;base64, [ BASE 64 WOFF HERE ]) format('woff');
    font-weight: normal;
    font-style: normal;
}